<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <p>Statistiques</p>
    <ul >
      <li>
        <label>attaque:
          <input type="number" min="1"oninput="validity.valid||(value='');"  max="{{maxPoints(hero.attaque)}}" [(ngModel)]="hero.attaque" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>esquive:
          <input type="number" min="1" oninput="validity.valid||(value='');" max="{{maxPoints(hero.esquive)}}" [(ngModel)]="hero.esquive" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>degats:
          <input type="number" min="1" oninput="validity.valid||(value='');" max="{{maxPoints(hero.degats)}}" [(ngModel)]="hero.degats" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>point de vie:
          <input type="number" min="1" oninput="validity.valid||(value='');" max="{{maxPoints(hero.pointdevie)}}" [(ngModel)]="hero.pointdevie" placeholder="1"/>
        </label>
      </li>
    </ul>
    <p>Total points : {{updatePointsRestants()}}</p>


    <div>
      <p>Select a weapon for your hero</p>
      <mat-form-field>
        <mat-label>hero's weapon</mat-label>
        <mat-select [(ngModel)]="hero.weaponid" selected="hero.weaponId">
          <mat-option value=''>No weapon</mat-option>
          <mat-option *ngFor="let weapon of weapons" [value]="weapon.id"  >
            {{weapon.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button (click)="goBack()">go back</button>
</div>
