<div *ngIf="weapon">

  <h2>{{weapon.name | uppercase}} Details</h2>
  <div><span>id: </span>{{weapon.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="weapon.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <p>Statistiques</p>
    <ul >
      <li>
        <label>attaque:
          <input type="number" min="-5" max="5" [(ngModel)]="weapon.attaque" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>esquive:
          <input type="number" min="-5" max="5" [(ngModel)]="weapon.esquive" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>degats:
          <input type="number" min="-5" max="5" [(ngModel)]="weapon.degats" placeholder="1"/>
        </label>
      </li>
      <li>
        <label>point de vie:
          <input type="number" min="-5" max="5" [(ngModel)]="weapon.pointdevie" placeholder="1"/>
        </label>
      </li>
    </ul>
    <p>Total points : {{updatePointsRestants()}}</p>
  </div>
  <button (click)="goBack()">go back</button>
</div>
